
/*・２つのブレイクポイントを設けて、スマートフォン、タブレット、PCの３つのデバイスで表示を変える
・デバイスの横幅によって、ヘッダーメニューをハンバーガーメニュに切り替える
・横並びになっている要素の一列に並ベる数をデバイスの横幅によって切り替える*/

@media (max-width:1000px){
    .a1 {
        width: 50%;
    }
    .a4 {
        width: 50%;
        left: 25%;
        top: 80%;
    }

}
@media (max-width: 670px){
    body {
        height: 1500px;
    }
    .a1 {
        width: 100%;
    }
    .a4 {
        width: 70%;
        left: 15%;
        top: 85%;
    }
    .b5 {
        display: none;
    }
    .b6 {
        display: block;
    }

}