@media (max-width:1000px){
    .bo-item {
        width: 50%;
    }
    .bo-button {
        height: 40px;
        width: 200px;
    }
}
@media (max-width: 670px){
    .bo-item {
        width: 100%;
    }
    .bo-button {
        height: 40px;
        width: 200px;
    }
    .he-item {
        display: none;
    }
    .he-humburger-img {
        display: block;
    }
}
