* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}
ul {
    list-style: none;
}
.clear-float {
    clear: both;
}
.page-height {
    height: 100%;
}
/*header*/
header {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    z-index: 10;
}
.he-text-float {
    float: left;
}
.he-text {
    color: white;
    text-align: left;
    width: 100%;
    display: inline-block;
    margin: 0px 0px 0px 30px;
    padding-top: 20px;
}
.he-items {
    float: right;
    margin: 0px;
}
.he-item {
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: block;
    float: left;
    margin: 30px 60px 0px 0px;
}
.he-hamburger-img {
    height: 100px;
    float: right;
    display: none;
}
.he-area {
    width: 100%;
    height: 110px;
}
/*header*//*body*/
.bo-item {
    float: left;
    margin: auto;
    width: 25%;
    text-align: center;
}
.bo-item-img {
    width: 50%;
}
.bo-item-text {
    color: red;
}
#works {
    /* text-align: center; */
    margin: 0px auto;
}

/*body*//*footer*/
footer {
    padding-bottom: 100px;
}
.fo-bg {
    text-align: center;
    background-color: black;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.fo-copy-right {
    color: white;
    margin: 0px;
}
/*footer*/