* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}
ul {
    list-style: none;
}
.page-height {
    height: 100%;
}
video {
    height: 128px;
    width: 240px;
}
/*header*/
header {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    z-index: 10;
}
.he-text-float {
    float: left;
}
.he-text {
    color: white;
    text-align: left;
    width: 100%;
    display: inline-block;
    margin: 0px 0px 0px 30px;
    padding-top: 20px;
}
.he-items {
    float: right;
    margin: 0px;
}
.he-item {
    display: block;
    float: left;
    margin: 30px 60px 0px 0px;
}
.he-item > a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.he-hamburger-img {
    height: 100px;
    float: right;
    display: none;
}
.he-area {
    width: 100%;
    height: 110px;
}
/*header*//*footer*/
footer {
    padding-bottom: 0px;
}
.fo-bg {
    text-align: center;
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.fo-copy-right {
    color: white;
    margin: 0px;
}
/*footer*/